body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: aqua;
}

.middle-content{
    flex: 1;
    background-color: green;
    display: flex;
}

.side-content{
    background-color: rebeccapurple;
}
.main-content{
    background-color: brown;
    flex: 1;
}