:root{
    --bg-black:#000000;
    --bg-orange: #FF5833FF;
    --f-red:#DC2626FF;
    --f-orange:#CA8A04FF;
    --f-green:#16A34AFF;
    --f-white:#FFFFFFFF;
    --f-grey: #8C8D8BFF;
    --b-color: #393D47FF;
    
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black);
    font-family: Archivo;
    line-height: 1.5;
}

header{
    padding:10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header>p{
    color: var(--f-white);
    font-size: 18px;
    font-weight: 600;
}
header button{
     background-color: var(--bg-orange);
    color: var(--f-white);
}
header button:hover{
    background-color: var(--f-white);
    color: var(--bg-orange);
}
button{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font: inherit;
    font-size: 12px;
    font-weight: 400;
}
.middle-content{
    flex: 1;
    display: flex;
}

.side-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.side-content button{
    padding: 6px 60px 6px 5px;
    border: none;
    border-radius: 5px;
    font-family: Inter;
    font-size: 12px;
}
.button-default,.add-project-button{
    background-color: var(--bg-black);
    color: var(--f-grey);
}

.button-active{
    background-color: var(--bg-orange);
    color: var(--f-white);
}

.project-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.side-content button:hover{
    background-color: var(--bg-orange);
    color: var(--f-white);
}
dialog{
    padding:10px 50px 50px 50px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form>button{
    margin-top: 20px;

}
.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.button-container>button{
flex: 1;
}
label{
    display: block;
}
.top{
    border: 1px solid var(--b-color);
    padding: 0px 20px 20px 20px;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
}
.top h1{
    color: var(--f-white);
    font-size: 36px;
}
.top p{
    color: var(--f-grey);
    font-size: 18px;
    width: 60ch;
}
.main-content{
   padding: 20px 20px;
    flex: 1;
}

.edit-container{
    display: flex;
    gap: 10px;
}
.edit-container>button{
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}
.edit-container>*:nth-child(1){
    background-color: var(--bg-orange);
    color: var(--f-white);
}

.edit-container>*:nth-child(2){
    background-color: #282C34FF;
    color: var(--f-white);
}
